@charset "UTF-8";
*, *​:before, *:after {
  box-sizing: border-box; }

img, embed, object, video {
  max-width: 100%;
  height: auto; }

body {
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.error {
  color: red; }

#map {
  width: 800px;
  height: 400px;
  background-color: #CCC;
  margin: auto; }

.photo {
  width: 100px;
  height: 100px; }
