<h1>Campgrounds</h1>

<div id="map"></div>
 


    Campgrounds within 
<!--     <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">5</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">20</a></li>
    </ul>
  </div> -->
<!-- <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-click="sort = '-votes'"><a href="#">5</a></li>
              <li ng-click="sort = 'date'"><a href="#">10</a></li>
              <li ng-click="sort = 'panelTitle'"><a href="#">20</a></li>
            </ul>
          </li>
        </ul> -->
    <input type="text" id="distance" value="5" size="2">miles
    of the route from <input type="text" id="from" value="boulder"/>
    to <input type="text" id="to" value="aspen"/>
    <!-- <input type="submit" onclick="route()"/> -->
    <input type="submit" id="get-route"/>


<script src="/js/map.js"></script>


<script type="text/javascript">
	$('#')

</script>