<md-toolbar layout="row" >
      <h1>Make A Route</h1>
</md-toolbar>

    <!-- Container #2 -->
<div flex layout="row">
  
 <!-- Container #3  -->
 <div class="left-half">
   <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 ">
    	<div class='foo'>
    	    Campgrounds within 
    	    <input type="text" id="distance" value="1" size="2">miles
    	    of the route <br>
    	    from <input type="text" id="from" value="boulder"/> <br>
    	    to <input type="text" id="to" value="aspen"/>
    	    <input type="submit" id="get-route"/> <br>
    	     <div class='markerLinks'></div> 
    	     <div id="right-panel"></div>
    	</div>
    </md-sidenav>
</div>

<div class='right-half'>
    <!-- Container #4 -->
     <md-content flex id="content" >
    	<div id="map"></div>
    </md-content>
</div>
</div> 

<script src="/js/map.js"></script>


<script type="text/javascript">
	$('#')

</script>