<md-toolbar layout="row">
	<img class="toolbarTextAndIcon" src="/images/campsideTextAndIcon.svg" />

    <button><a href="/campgrounds">NEW TRIP</a></button>
	<button ng-click="logoutUser()">LOGOUT</button>
	<div class="magnify">
	<ng-md-icon icon="search" class="magIcon" style="fill:#4CAF50" size="24px"></ng-md-icon>
	<input id="search"  type="text" ng-model="search" placeholder="SEARCH">
	</div>

</md-toolbar>

<div flex layout="row">
<div class="middleGround">
	
	<div id="gridDash">
	    
		<div ng-repeat="data in dataStuff.user.trips | filter: search track by $index " id="preview" class="tripsInDash" ng-class="expandClass ? 'expandCard' : 'none'" ng-click="expandClass = !expandClass">

	        <nav class="cardNav">

	        </nav> 
	        
	        <nav class="cardNav2">
       
            	<div class="flexbox-container">
            		<div class="flexDiv"><ng-md-icon icon="description" style="fill:none" size="32px"></ng-md-icon></div>
            		<div class="flexDiv2"><span class="cardTitle">{{data.tripName}}</span>
            		</div>
            	</div>
 
        	</nav>
		<div class="cardNavWrapper">

        	

			<div class="infoWrapper">
	        	
	        	
		        <div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="event" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>
	        		<div class="flexDiv2">
	        			<span class="primaryText">Dates</span>
	        			<br/>
	        			<span class="secondaryText">{{data.startDate}} to {{data.endDate}}</span>
	        		</div>
	        	</div>
	        	<hr></hr> 


	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="home" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>
	        		<div class="flexDiv2">
	        			<span class="primaryText">From</span>
	        			<br/>
	        			<span class="secondaryText">{{data.from}}</span>
	        		</div>
	        	</div>
	        	<hr></hr>

	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="place" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>

	        		<div class="flexDiv2">
	            		<span class="primaryText">To</span>
	            		<br/>
	            		<span class="secondaryText">{{data.to}}</span>
	            	</div>
	        	</div>
	        	<hr></hr> 

	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="link" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>

	        		<div class="flexDiv2">
	            		<span class="primaryText">Reserve</span>
	            		<br/>
	            		<span class="secondaryText"><a href="
	    		http://www.reserveamerica.com/unifSearch.do?tti=Search">Make a Reservation</a></span>
	            	</div>
	        	</div>
        	</div><!--infoWrapper-->
		    <div class="dirWrapper">
	        	<div class="floatButton">
	            	<button class="btn btn--primary" ng-click="showDirections = !showDirections">
	            		<ng-md-icon icon="directions" style="fill:#2E7D32" size="32px" class="dirIcon"></ng-md-icon>
	        		</button>
	        	</div>	
            	
	            <div class="dirBox">
	            	<div class="showDir" ng-show="showDirections" ng-repeat="(key, value) in data" >
	        			<span ng-bind-html="trustSrc(value)">{{value}}</span>
	        			</div>
        		</div>
	        </div><!--dirWrapper-->
        	
		</div><!--cardNavWrapperDiv-->
		</div>
				

	</div>
			
</div>
</div>

 <script type="text/javascript">
	$(document).on('click', '.btn--primary', function(){

	})
 </script>



<script type="text/javascript">	
	
	Modernizr.load({
		test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
		nope: 'css/fallback.css',
		callback : function( url, result, key ) {
				
			if( url === 'js/jquery.hoverfold.js' ) {
		$( '#grid' ).hoverfold();
			}

		}
	});
		
 </script>
