

<!-- <md-toolbar layout="row" >
      <img src="/images/campsideTitle&LogoMedium.png" />
</md-toolbar> -->
<!-- 
<div flex layout="row">
<div class="middleGround"> -->

	<!-- <h1>My Trip Dashboard </h1>
	<button ng-click="logoutUser()">Log Out</button>
	<button><a href="/campgrounds">Make A Trip</a></button>
	<h1>My Trips</h1> -->
	           <!--  <div class="tripCard">Trip Number One</div>
	            <div class="tripCard">Trip Number Two</div> -->
	            <!-- <label>Search For Trip</label>
	            <input type="text" ng-model="search"/> -->
	            <!-- <div class="tripsInDash" ng-repeat="data in dataStuff.user.trips | filter: search track by $index ">
	               <h1>Trip</h1>
	            	Trip Title<p>{{data.tripName}}</p><br/>
	            	From<p>{{data.from}}</p><br/>
	            	To<p>{{data.to}}</p><br/>
	               
	               <button ng-click="showDirections = !showDirections">Toggle Directions</button>
	            	<div ng-show="showDirections" ng-repeat="(key, value) in data" >
	            	 <p ng-bind-html="trustSrc(value)"></p>
	            		 {{value}} -->
	            	 <!-- </div>  -->

	           <!-- </div>  --> 
	  <!--   <div id="grid" class="main">
			<div ng-repeat="data in dataStuff.user.trips | filter: search track by $index " id="preview" class="view">
				<div class="tripsInDash" >
					<div class="view-back">
		               	<h1>Trip</h1>
		            	<span>{{data.tripName}}</span><br/>
		            	<span>{{data.from}}</span><br/>
		            	<span>{{data.to}}</span><br/>
		               	<button ng-click="showDirections = !showDirections">Toggle Directions</button>
		            	<div ng-show="showDirections" ng-repeat="(key, value) in data" >
		            	<span ng-bind-html="trustSrc(value)"></span>
		            	</div>

	            	</div>
				</div>
				<img src="images/mapscreenshot3.jpg" />
			</div>
			<div><h1>{{data.tripName}}</h1></div> -->


			<!-- <div id="preview" class="view"> -->
				<!-- <div class="view-back">
					<span data-icon="A">Boulder, CO</span>
					<span data-icon="B">Aspen, CO</span>
				</div> -->
				<!-- <img src="images/mapscreenshot3.jpg" /> -->
			<!-- </div> -->
			<!-- <div id="preview" class="view">
				<div class="view-back">
					<span data-icon="A">Grand Junction, CO</span>
					<span data-icon="B">Holly, CO</span>
				</div>
				<img src="images/mapscreenshot3.jpg" />
			</div>
			<div id="preview" class="view">
				<div class="view-back">
					<span data-icon="A">Estes Park, CO</span>
					<span data-icon="B">Steamboat Springs, CO</span>
				</div>
				<img src="images/mapscreenshot3.jpg" />
			</div> -->
<!-- 		</div>
	</div>

</div>
</div> -->

<div id="o-wrapper" class="o-wrapper main-dash">

  <main id="c-content--push-outLeft" class="c-content c-content--push-outLeft o-content">
    <div class="o-container">  
      <div class="c-buttons">

        <button id="c-button--push-left" class="c-button">Push Left</button>
        <h1>This is the Content that should go off to the right</h1>
        <!-- <img src="/images/mapscreenshot3.jpg" /> -->
      <div id="github-icons"></div>

    </div><!-- /o-container -->
  </main><!-- /o-content -->

</div><!-- /o-wrapper -->

<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
	<button ng-click="logoutUser()">Log Out</button>
	<button><a href="/campgrounds">Make A Trip</a></button>
  <button class="c-menu__close">&larr; Close Menu</button>
	
  <!-- <ul class="c-menu__items">
    <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
  </ul> -->

      <div id="grid" class="main">
      	<h1 id="dashTitle">My Trip Dashboard </h1>	
  		<div ng-repeat="data in dataStuff.user.trips | filter: search track by $index " id="preview" class="view">
  			<div class="tripsInDash" >
  				<div class="view-back">
  	               	<h1>Trip</h1>
  	            	<span>{{data.tripName}}</span><br/>
  	            	<span>{{data.from}}</span><br/>
  	            	<span>{{data.to}}</span><br/>
  	               	<button ng-click="showDirections = !showDirections">Toggle Directions</button>
  	            	<div ng-show="showDirections" ng-repeat="(key, value) in data" >
  	            	<span ng-bind-html="trustSrc(value)"></span>
  	            	</div>

              	</div>
  			</div>

  			<!-- <img src="images/mapscreenshot3.jpg" /> -->
  	            <!-- 	<div><h1>Trip Name Goes Here</h1></div> -->
  		</div>

  	<!-- 	<div ng-repeat=data in dataStuff.user.trips><h1>{{data.tripName}}</h1></div> -->
  		
</nav><!-- /c-menu push-left -->



<div id="c-mask" class="c-mask"></div><!-- /c-mask -->

<!-- menus script -->
<script src="js/menu.js"></script>

<script>  
  /**
   * Push left instantiation and action.
   */
  var pushLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'push-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });
  var pushLeftBtn = document.querySelector('#c-button--push-left');
  
  pushLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    pushLeft.open();
  });
  
</script>

<script type="text/javascript">	
	
	Modernizr.load({
		test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
		nope: 'css/fallback.css',
		callback : function( url, result, key ) {
				
			if( url === 'js/jquery.hoverfold.js' ) {
		$( '#grid' ).hoverfold();
			}

		}
	});
		
 </script>
