<md-toolbar layout="row">

    <img class="toolbarTextAndIcon" src="/images/campsideTextAndIcon.svg" />
   <!--  <ng-md-icon icon="search" style="fill:#4CAF50" size="32px"></ng-md-icon><input type="text" ng-model="search" placeholder="SEARCH"/> -->
    <button><a href="/campgrounds">NEW TRIP</a></button>
	<button ng-click="logoutUser()">LOGOUT</button>
	<ng-md-icon icon="search" style="fill:#4CAF50" size="32px"></ng-md-icon>
	<input id="search"  type="text" ng-model="search" placeholder="">
	 <!-- <img class="toolbarTextAndIcon" src="/images/campsideTextAndIcon.svg" />	 -->
	<!-- <ng-md-icon icon="search" class="searchIcon" style="fill:#4CAF50" size="32px"></ng-md-icon><input class="searchBox" type="text" ng-model="search" placeholder="SEARCH"/> -->
</md-toolbar>

<div flex layout="row">
<div class="middleGround">
	<!-- <h1>My Trip Dashboard </h1> -->

	

<!-- 	<button><a href="/campgrounds">NEW TRIP</a></button>
	<button ng-click="logoutUser()">LOGOUT</button> -->
	<!-- <h1>My Trips</h1> -->
	           <!--  <div class="tripCard">Trip Number One</div>
	            <div class="tripCard">Trip Number Two</div> -->
	            <!-- <label>Search For Trip</label> -->
	
	            <!-- <div class="tripsInDash" ng-repeat="data in dataStuff.user.trips | filter: search track by $index ">
	               <h1>Trip</h1>
	            	Trip Title<p>{{data.tripName}}</p><br/>
	            	From<p>{{data.from}}</p><br/>
	            	To<p>{{data.to}}</p><br/>
	               
	               <button ng-click="showDirections = !showDirections">Toggle Directions</button>
	            	<div ng-show="showDirections" ng-repeat="(key, value) in data" >
	            	 <p ng-bind-html="trustSrc(value)"></p>
	            		 {{value}} -->
	            	 <!-- </div>  -->
	           <!-- </div>   -->
	<div id="gridDash">
	    
		<div ng-repeat="data in dataStuff.user.trips | filter: search track by $index " id="preview" class="tripsInDash" ng-class="expandClass ? 'expandCard' : 'none'" ng-click="expandClass = !expandClass">

	        <nav class="cardNav">

	        </nav> 
	        
	        <nav class="cardNav2">
       
            	<div class="flexbox-container">
            		<div class="flexDiv"><ng-md-icon icon="description" style="fill:none" size="32px"></ng-md-icon></div>
            		<div class="flexDiv2"><span class="cardTitle">{{data.tripName}}</span>
            		</div>
            	</div>
 
        	</nav>
		<div class="cardNavWrapper">

        	

			<div class="infoWrapper">
	        	
	        	
		        <div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="event" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>
	        		<div class="flexDiv2">
	        			<span class="primaryText">Dates</span>
	        			<br/>
	        			<span class="secondaryText">{{data.startDate}} to {{data.endDate}}</span>
	        		</div>
	        	</div>
	        	<hr></hr> 


	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="home" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>
	        		<div class="flexDiv2">
	        			<span class="primaryText">From</span>
	        			<br/>
	        			<span class="secondaryText">{{data.from}}</span>
	        		</div>
	        	</div>
	        	<hr></hr>

	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="place" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>

	        		<div class="flexDiv2">
	            		<span class="primaryText">To</span>
	            		<br/>
	            		<span class="secondaryText">{{data.to}}</span>
	            	</div>
	        	</div>
	        	<hr></hr> 

	        	<div class="flexbox-container">
	        		<div class="flexDiv">
	        			<ng-md-icon icon="link" style="fill:#727272" size="32px"></ng-md-icon>
	        		</div>

	        		<div class="flexDiv2">
	            		<span class="primaryText">Reserve</span>
	            		<br/>
	            		<span class="secondaryText"><a href="
	    		http://www.reserveamerica.com/unifSearch.do?tti=Search">Make a Reservation</a></span>
	            	</div>
	        	</div>
        	</div><!--infoWrapper-->
		    <div class="dirWrapper">
	        	<div class="floatButton">
	            	<button class="btn btn--primary" ng-click="showDirections = !showDirections">
	            		<ng-md-icon icon="directions" style="fill:#2E7D32" size="32px" class="dirIcon"></ng-md-icon>
	        		</button>
	        	</div>	
            	
	            <div class="dirBox">
	            	<div class="showDir" ng-show="showDirections" ng-repeat="(key, value) in data" >
	        			<span ng-bind-html="trustSrc(value)">{{value}}</span>
	        			</div>
        		</div>
	        </div><!--dirWrapper-->
        	<!-- <hr></hr>  -->

        	<!-- <div class="flexbox-container">
        		<div class="flexDiv">
        			<ng-md-icon icon="directions" style="fill:#727272" size="32px"></ng-md-icon>
        		</div>

        		<div class="flexDiv2">
            		<span class="primaryText">Directions</span>
            		<br/> -->
            		<!-- <span class="secondaryText">
            			<div ng-show="showDirections" ng-repeat="(key, value) in data" >
    						<span ng-bind-html="trustSrc(value)"></span> -->
            			<!-- <hr></hr> -->
    					<!-- </div> -->
    				<!-- </span> -->
            	<!-- </div> -->
        	<!-- </div> -->
               	  
        		<!-- <ng-md-icon icon="event" style="fill:#727272" size="24px"></ng-md-icon>
        		<span class="primaryText">Dates</span><br/>
        		<span class="secondaryText">July 22 to January 15</span>
        		<! <br/> -->
        		<!-- <hr></hr> -->
            	<!-- <br/> -->
        		<!-- <ng-md-icon icon="home" style="fill:#727272" size="24px"></ng-md-icon> -->
            	<!-- <span>{{data.from}}</span> -->
            	<!-- <br/> -->
            	<!-- <hr></hr> -->
            	

            	<!-- <ng-md-icon icon="place" style="fill:#727272" size="24px"></ng-md-icon> -->

            	<!-- <span>{{data.to}}</span> -->
            	
            	<!-- <hr></hr> -->
            	
     <!--    <span>{{data.tripName}}</span><br/>
        	<span>{{data.from}}</span><br/>
            	<span>{{data.to}}</span><br/> -->
	         <!--    		<ng-md-icon icon="link" style="fill:#727272" size="24px"></ng-md-icon><a href="
	            		http://www.reserveamerica.com/unifSearch.do?tti=Search">Make a Reservation</a>
		            	
		            	<hr></hr> 
		            	
	            		<ng-md-icon icon="directions" style="fill:#727272" size="24px">Directions</ng-md-icon>
	           
	            	<div ng-show="showDirections" ng-repeat="(key, value) in data" >
	            		<span ng-bind-html="trustSrc(value)"></span> -->

 
            	<!-- </div> -->

			<!-- </div> -->
		</div><!--cardNavWrapperDiv-->
		</div>
				

	</div>
			
</div>
</div>

 <script type="text/javascript">
	$(document).on('click', '.btn--primary', function(){
// 	// 	console.log('button clicked')
// 	// 	if($('.infoWrapper').css('width') >'50%'){
// 	// 		$('.infoWrapper').css({'width':'100%'};
// 	// 	} else {
// 	// 		$('.infoWrapper').css('width':'50%');
// 	// 	}


// 		// $('.infoWrapper').css({"width":"50%"});
// 		// $('.dirWrapper').css({'width':'50%'});
// 		$('.dirWrapper').css({"width":})	

	})
 </script>



<script type="text/javascript">	
	
	Modernizr.load({
		test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
		nope: 'css/fallback.css',
		callback : function( url, result, key ) {
				
			if( url === 'js/jquery.hoverfold.js' ) {
		$( '#grid' ).hoverfold();
			}

		}
	});
		
 </script>
