<div class="container">
	<div id="grid" class="main">
		<div class="view">

			<div class="view-back">
              <span class="reg-log-span">

				<div>
				<h4 ng-if="registerError" class="error">{{registerError}}</h4>

				<form name="form" novalidate>

					<input class="loginStyle" type="email" ng-model="userEmail" placeholder="Email" required>

					<br/>

					<input class="loginStyle" type="password" ng-model="userPassword" placeholder="Password" required>
					<!-- </label> -->
					<br/>

					<button class="login" ng-click="registerUser(userEmail, userPassword)">REGISTER</button>

					<button class="login" ng-click="loginUser(userEmail, userPassword)">LOGIN</button>
				</form>
				</div>

			</span>
				
			</div>
			<div class="smokescreen" ></div>
			<img src="/images/mapscreenshot3.jpg" />
		</div>
		<div id="logoParentDiv">
			<div class="iconLogo two">
				<img src='/images/markerWholeSharpReverse.svg'/>
			</div>
			<img class="textLogo" src='/images/campsideTitleShadow.png'/>
		</div>
	</div>
	
</div>

<script type="text/javascript">	

	
	Modernizr.load({
		test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
		nope: 'css/fallback.css',
		callback : function( url, result, key ) {
				
			if( url === 'js/jquery.hoverfold.js' ) {
				$( '#grid' ).hoverfold();
			}


		}
	});

</script>
